body{
	overflow-x:hidden;
}
ul{
	margin-bottom: 0;
}
ul li{
	list-style: none;
}
a{
	text-decoration: none;
}
caption,td,tr{
	text-align: center;
}

.MyThemeColor{
	background-color: #02915f;
}	

.MyColor1{
	background-color: rgba(76, 175, 80, 0.71);
}
.MyColor2{
	background-color: rgba(0, 188, 212, 0.71);
}
.MyColor3{
	background-color: rgba(156, 39, 176, 0.71);
}
.MyColor4{
	background-color: rgba(0,0,0,0.5);
}
.MyColor5{
	background-color: rgba(0, 150, 136, 0.71);
}
.Myshadow{
	background-color: #fff;
	-webkit-box-shadow:0px 5px 4px #CCC;
  	   -moz-box-shadow:0px 5px 4px #CCC;
            box-shadow:0px 5px 4px #CCC;
}