body{
	overflow-x:hidden; 
}
ul{
	margin-bottom: 0;
}
ul li{
	list-style: none;
}
a{
	text-decoration: none;
}
caption ,td,tr{
	text-align: center;
}

.MyThemeColor{
	background-color: #02915f;
}	

.MyColor1{
	background-color: #4CAF50;
}
.MyColor2{
	background-color: #00BCD4;
}
.MyColor3{
	background-color: #9C27B0;
}
.MyColor4{
	background-color: #CDDC39;
}
.MyColor5{
	background-color: #009688;
}
.Myshadow{
	background-color: #fff;
	-webkit-box-shadow:0px 5px 4px #CCC;
  	   -moz-box-shadow:0px 5px 4px #CCC;
            box-shadow:0px 5px 4px #CCC;
}