/*定义所有头部和尾部样式*/
header{
	margin-top: 10px ;
	margin-left:10px;
	height: 52px;
	background-color: rgb(255, 255, 255);
}
header .logo-pic{
	width: 250px;
	height: 50px;
	display: block;
	float: left;
}
header .user-pic{
	float: right;
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	margin-right: -20px;
}
.float-left{
	float: left;
	padding-left: 40px;
}
.float-right{
	float: right;
	padding-right: 5px;
}

.nav-bar{
	display: block;
	text-align: center;
}
.nav-bar li{
	float: left;
	display: inline-block;
	line-height: 45px;
}
.nav-bar li a{
	width: 100%;
	height: 100%;
	padding:  0 20px ;
	display: inline-block;
	text-decoration: none;
	font-size: 20px;
	font-weight: 700;
	color: #02915f;
}
.nav-bar li:hover{
	border-bottom: 4px solid #02915f;
	background-color: #eee;
}
.content {
	display: block;

	background-color: #eee;
	height:700px;
}
footer{
	display: block;
	width: 100%;
} 
.foot-href{
	margin:50px auto 10px;
	text-align: center;
}
.foot-href a{
	margin:0 10px;
	font-size: 13px;
	font-weight: bold;
	color: #b4bbbf;
	text-decoration: none;
}
.foot-href a:hover{
	color: #02915f;
}
.copyright{
	width: 70%;
	margin:20px auto;
	display: block;
	text-align: center;
	font-size: 12px;
	padding-top: 20px;
	border-top: 2px solid #eee;
	background-color: #FFF;
	color: #b4bbbf;
	line-height: 14px;
}